@import "tailwindcss";

@font-face {
  font-family: "GTA";
  src: url("/fonts/Pricedown-Black.woff2") format("woff2"),
    url("/fonts/Pricedown-Black.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "GTA";
}
